In [2]:
import pandas as pd

In [16]:
mvp=pd.read_csv("mvp_v1.csv")
mvp

,Unnamed: 0,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,0,1,Magic Johnson,30,LAL,27.0,636.0,920,0.691,79,...,6.6,11.5,1.7,0.4,0.480,0.384,0.890,16.5,0.270,1990
1,1,2,Charles Barkley,26,PHI,38.0,614.0,920,0.667,79,...,11.5,3.9,1.9,0.6,0.600,0.217,0.749,17.3,0.269,1990
2,2,3,Michael Jordan,26,CHI,21.0,564.0,920,0.613,82,...,6.9,6.3,2.8,0.7,0.526,0.376,0.848,19.0,0.285,1990
3,3,4,Karl Malone,26,UTA,2.0,214.0,920,0.233,82,...,11.1,2.8,1.5,0.6,0.562,0.372,0.762,15.9,0.245,1990
4,4,5,Patrick Ewing,27,NYK,1.0,162.0,920,0.176,82,...,10.9,2.2,1.0,4.0,0.551,0.250,0.775,13.5,0.205,1990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483,10,11,Russell Westbrook,32,WAS,0.0,5.0,1010,0.005,65,...,11.5,11.7,1.4,0.4,0.439,0.315,0.656,3.7,0.075,2021
484,11,12,Ben Simmons,24,PHI,0.0,3.0,1010,0.003,58,...,7.2,6.9,1.6,0.6,0.557,0.300,0.613,6.0,0.153,2021
485,12,13T,James Harden,31,TOT,0.0,1.0,1010,0.001,44,...,7.9,10.8,1.2,0.8,0.466,0.362,0.861,7.0,0.208,2021
486,13,13T,LeBron James,36,LAL,0.0,1.0,1010,0.001,45,...,7.7,7.8,1.1,0.6,0.513,0.365,0.698,5.6,0.179,2021
487,14,13T,Kawhi Leonard,29,LAC,0.0,1.0,1010,0.001,52,...,6.5,5.2,1.6,0.4,0.512,0.398,0.885,8.8,0.238,2021

In [19]:
mvp=mvp[["Player","Year","Pts Won","Pts Max","Share"]]
mvp.head()

            Player  Year  Pts Won  Pts Max  Share
0    Magic Johnson  1990    636.0      920  0.691
1  Charles Barkley  1990    614.0      920  0.667
2   Michael Jordan  1990    564.0      920  0.613
3      Karl Malone  1990    214.0      920  0.233
4    Patrick Ewing  1990    162.0      920  0.176

In [33]:
player=pd.read_csv("player_stats.csv",index_col=0)
player

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Mark Acres,C,27,ORL,80,50,21.1,1.7,3.6,...,1.9,3.5,5.4,0.8,0.5,0.3,0.9,3.1,4.5,1990
1,2,Michael Adams,PG,27,DEN,79,74,34.1,5.0,12.5,...,0.6,2.2,2.8,6.3,1.5,0.0,1.8,1.7,15.5,1990
2,3,Mark Aguirre,SF,30,DET,78,40,25.7,5.6,11.5,...,1.5,2.4,3.9,1.9,0.4,0.2,1.6,2.6,14.1,1990
3,4,Danny Ainge,PG,30,SAC,75,68,36.4,6.7,15.4,...,0.9,3.4,4.3,6.0,1.5,0.2,2.5,3.2,17.9,1990
4,5,Mark Alarie,PF,26,WSB,82,10,23.1,4.5,9.6,...,1.8,2.7,4.6,1.7,0.7,0.5,1.2,2.7,10.5,1990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,536,Delon Wright,PG,28,SAC,27,8,25.8,3.9,8.3,...,1.0,2.9,3.9,3.6,1.6,0.4,1.3,1.1,10.0,2021
726,537,Thaddeus Young,PF,32,CHI,68,23,24.3,5.4,9.7,...,2.5,3.8,6.2,4.3,1.1,0.6,2.0,2.2,12.1,2021
727,538,Trae Young,PG,22,ATL,63,63,33.7,7.7,17.7,...,0.6,3.3,3.9,9.4,0.8,0.2,4.1,1.8,25.3,2021
728,539,Cody Zeller,C,28,CHO,48,21,20.9,3.8,6.8,...,2.5,4.4,6.8,1.8,0.6,0.4,1.1,2.5,9.4,2021
729,540,Ivica Zubac,C,23,LAC,72,33,22.3,3.6,5.5,...,2.6,4.6,7.2,1.3,0.3,0.9,1.1,2.6,9.0,2021

In [34]:
player["Player"]=player["Player"].str.replace("*","",regex=False)

In [35]:
player[25:27]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
25,26,Uwe Blab,C,27,TOT,47,33,11.3,0.8,2.1,...,0.6,1.7,2.3,0.5,0.0,0.5,0.7,2.2,2.1,1990
26,26,Uwe Blab,C,27,GSW,40,33,12.0,0.8,2.2,...,0.7,1.8,2.5,0.6,0.0,0.6,0.8,2.3,2.1,1990

In [36]:
def isolate(df):
    if df.shape[0]== 1:
        return df
    else:
        row=df[df["Tm"]=="TOT"]
        row["Tm"]=df.iloc[-1,:]["Tm"]
        return row

player=player.groupby(["Player","Year"]).apply(isolate)

In [37]:
player.index=player.index.droplevel()
player.index=player.index.droplevel()
player

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
146,122,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,...,3.2,5.5,8.7,1.1,0.8,0.6,1.4,2.5,12.9,1990
164,135,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,...,2.5,3.8,6.3,0.9,0.7,0.3,1.2,1.4,9.1,1991
174,141,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,...,3.7,5.6,9.3,1.4,1.1,0.4,1.4,1.7,13.6,1992
157,137,A.C. Green,PF,29,LAL,82,55,34.4,4.6,8.6,...,3.5,5.2,8.7,1.4,1.1,0.5,1.4,1.8,12.8,1993
177,149,A.C. Green,PF,30,PHO,82,55,34.5,5.7,11.3,...,3.4,5.8,9.2,1.7,0.9,0.5,1.2,1.7,14.7,1994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,336,Željko Rebrača,C,29,DET,74,4,15.9,2.6,5.1,...,1.1,2.8,3.9,0.5,0.4,1.0,1.1,2.6,6.9,2002
374,316,Željko Rebrača,C,30,DET,30,12,16.3,2.7,4.8,...,0.9,2.2,3.1,0.3,0.2,0.6,1.0,2.6,6.6,2003
452,338,Željko Rebrača,C,31,ATL,24,2,11.4,1.4,3.2,...,1.0,1.5,2.4,0.3,0.2,0.5,0.7,2.2,3.8,2004
446,350,Željko Rebrača,C,32,LAC,58,2,16.0,2.3,4.0,...,0.8,2.3,3.2,0.4,0.2,0.7,0.8,2.2,5.8,2005
433,344,Željko Rebrača,C,33,LAC,29,2,14.2,1.8,3.3,...,0.4,1.8,2.2,0.3,0.2,0.7,0.8,2.0,4.7,2006

In [38]:
comb_player = player.merge(mvp,how="outer",on=["Player", "Year"])
comb_player.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,AST,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share
0,122,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,...,1.1,0.8,0.6,1.4,2.5,12.9,1990,NaN,NaN,NaN
1,135,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,...,0.9,0.7,0.3,1.2,1.4,9.1,1991,NaN,NaN,NaN
2,141,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,...,1.4,1.1,0.4,1.4,1.7,13.6,1992,NaN,NaN,NaN
3,137,A.C. Green,PF,29,LAL,82,55,34.4,4.6,8.6,...,1.4,1.1,0.5,1.4,1.8,12.8,1993,NaN,NaN,NaN
4,149,A.C. Green,PF,30,PHO,82,55,34.5,5.7,11.3,...,1.7,0.9,0.5,1.2,1.7,14.7,1994,NaN,NaN,NaN

In [41]:
comb_player[["Pts Won","Pts Max","Share"]] = comb_player[["Pts Won","Pts Max","Share"]].fillna(0)
comb_player

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,AST,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share
0,122,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,...,1.1,0.8,0.6,1.4,2.5,12.9,1990,0.0,0.0,0.0
1,135,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,...,0.9,0.7,0.3,1.2,1.4,9.1,1991,0.0,0.0,0.0
2,141,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,...,1.4,1.1,0.4,1.4,1.7,13.6,1992,0.0,0.0,0.0
3,137,A.C. Green,PF,29,LAL,82,55,34.4,4.6,8.6,...,1.4,1.1,0.5,1.4,1.8,12.8,1993,0.0,0.0,0.0
4,149,A.C. Green,PF,30,PHO,82,55,34.5,5.7,11.3,...,1.7,0.9,0.5,1.2,1.7,14.7,1994,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14466,336,Željko Rebrača,C,29,DET,74,4,15.9,2.6,5.1,...,0.5,0.4,1.0,1.1,2.6,6.9,2002,0.0,0.0,0.0
14467,316,Željko Rebrača,C,30,DET,30,12,16.3,2.7,4.8,...,0.3,0.2,0.6,1.0,2.6,6.6,2003,0.0,0.0,0.0
14468,338,Željko Rebrača,C,31,ATL,24,2,11.4,1.4,3.2,...,0.3,0.2,0.5,0.7,2.2,3.8,2004,0.0,0.0,0.0
14469,350,Željko Rebrača,C,32,LAC,58,2,16.0,2.3,4.0,...,0.4,0.2,0.7,0.8,2.2,5.8,2005,0.0,0.0,0.0
14470,344,Željko Rebrača,C,33,LAC,29,2,14.2,1.8,3.3,...,0.3,0.2,0.7,0.8,2.0,4.7,2006,0.0,0.0,0.0

In [45]:
teams=pd.read_csv("team_stats.csv",index_col=0)
teams.head(10)

,W,L,W/L%,GB,PS/G,PA/G,SRS,Year,Team
0,53,29,.646,—,110.2,105.2,4.23,1990,Philadelphia 76ers*
1,52,30,.634,1.0,110.0,106.0,3.23,1990,Boston Celtics*
2,45,37,.549,8.0,108.3,106.9,0.78,1990,New York Knicks*
3,31,51,.378,22.0,107.7,109.9,-2.43,1990,Washington Bullets
4,18,64,.220,35.0,100.6,110.3,-9.59,1990,Miami Heat
5,17,65,.207,36.0,100.1,108.0,-7.82,1990,New Jersey Nets
6,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,1990,Central Division
7,59,23,.720,—,104.3,98.3,5.41,1990,Detroit Pistons*
8,55,27,.671,4.0,109.5,106.2,2.74,1990,Chicago Bulls*
9,44,38,.537,15.0,106.0,106.8,-1.06,1990,Milwaukee Bucks*

In [46]:
teams = teams[~teams["W"].str.contains("Division")]
teams['Team'] = teams['Team'].str.replace("*","",regex=False)

In [47]:
teams.head(10)

     W   L  W/L%    GB   PS/G   PA/G    SRS  Year                 Team
0   53  29  .646     —  110.2  105.2   4.23  1990   Philadelphia 76ers
1   52  30  .634   1.0  110.0  106.0   3.23  1990       Boston Celtics
2   45  37  .549   8.0  108.3  106.9   0.78  1990      New York Knicks
3   31  51  .378  22.0  107.7  109.9  -2.43  1990   Washington Bullets
4   18  64  .220  35.0  100.6  110.3  -9.59  1990           Miami Heat
5   17  65  .207  36.0  100.1  108.0  -7.82  1990      New Jersey Nets
7   59  23  .720     —  104.3   98.3   5.41  1990      Detroit Pistons
8   55  27  .671   4.0  109.5  106.2   2.74  1990        Chicago Bulls
9   44  38  .537  15.0  106.0  106.8  -1.06  1990      Milwaukee Bucks
10  42  40  .512  17.0  102.6  102.9  -0.62  1990  Cleveland Cavaliers

In [51]:
nickname ={}
with open("nicknames.txt") as f:
    lines=f.readlines()
    for line in lines[1:]:
        abb,name =line.replace("\n","").split(",")
        nickname[abb] = name

In [52]:
nickname

{'ATL': 'Atlanta Hawks',
 'BRK': 'Brooklyn Nets',
 'BKN': 'Brooklyn Nets',
 'BOS': 'Boston Celtics',
 'CHA': 'Charlotte Bobcats',
 'CHH': 'Charlotte Hornets',
 'CHO': 'Charlotte Hornets',
 'CHI': 'Chicago Bulls',
 'CLE': 'Cleveland Cavaliers',
 'DAL': 'Dallas Mavericks',
 'DEN': 'Denver Nuggets',
 'DET': 'Detroit Pistons',
 'GSW': 'Golden State Warriors',
 'HOU': 'Houston Rockets',
 'IND': 'Indiana Pacers',
 'LAC': 'Los Angeles Clippers',
 'LAL': 'Los Angeles Lakers',
 'MEM': 'Memphis Grizzlies',
 'MIA': 'Miami Heat',
 'MIL': 'Milwaukee Bucks',
 'MIN': 'Minnesota Timberwolves',
 'NJN': 'New Jersey Nets',
 'NOH': 'New Orleans Hornets',
 'NOP': 'New Orleans Pelicans',
 'NOK': 'New Orleans/Oklahoma City Hornets',
 'NYK': 'New York Knicks',
 'OKC': 'Oklahoma City Thunder',
 'ORL': 'Orlando Magic',
 'PHI': 'Philadelphia 76ers',
 'PHX': 'Phoenix Suns',
 'PHO': 'Phoenix Suns',
 'POR': 'Portland Trail Blazers',
 'SEA': 'Seattle SuperSonics',
 'SAC': 'Sacramento Kings',
 'SAS': 'San Antonio Spurs',
 'TOR': 'Toronto Raptors',
 'UTA': 'Utah Jazz',
 'VAN': 'Vancouver Grizzlies',
 'WAS': 'Washington Wizards',
 'WSB': 'Washington Bullets'}

In [53]:
comb_player["Team"]=comb_player["Tm"].map(nickname)
comb_player

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share,Team
0,122,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,...,0.8,0.6,1.4,2.5,12.9,1990,0.0,0.0,0.0,Los Angeles Lakers
1,135,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,...,0.7,0.3,1.2,1.4,9.1,1991,0.0,0.0,0.0,Los Angeles Lakers
2,141,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,...,1.1,0.4,1.4,1.7,13.6,1992,0.0,0.0,0.0,Los Angeles Lakers
3,137,A.C. Green,PF,29,LAL,82,55,34.4,4.6,8.6,...,1.1,0.5,1.4,1.8,12.8,1993,0.0,0.0,0.0,Los Angeles Lakers
4,149,A.C. Green,PF,30,PHO,82,55,34.5,5.7,11.3,...,0.9,0.5,1.2,1.7,14.7,1994,0.0,0.0,0.0,Phoenix Suns
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14466,336,Željko Rebrača,C,29,DET,74,4,15.9,2.6,5.1,...,0.4,1.0,1.1,2.6,6.9,2002,0.0,0.0,0.0,Detroit Pistons
14467,316,Željko Rebrača,C,30,DET,30,12,16.3,2.7,4.8,...,0.2,0.6,1.0,2.6,6.6,2003,0.0,0.0,0.0,Detroit Pistons
14468,338,Željko Rebrača,C,31,ATL,24,2,11.4,1.4,3.2,...,0.2,0.5,0.7,2.2,3.8,2004,0.0,0.0,0.0,Atlanta Hawks
14469,350,Željko Rebrača,C,32,LAC,58,2,16.0,2.3,4.0,...,0.2,0.7,0.8,2.2,5.8,2005,0.0,0.0,0.0,Los Angeles Clippers
14470,344,Željko Rebrača,C,33,LAC,29,2,14.2,1.8,3.3,...,0.2,0.7,0.8,2.0,4.7,2006,0.0,0.0,0.0,Los Angeles Clippers

In [55]:
comb_player.drop("Rk",axis=1,inplace = True)

In [56]:
comb_player

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share,Team
0,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,.478,...,0.8,0.6,1.4,2.5,12.9,1990,0.0,0.0,0.0,Los Angeles Lakers
1,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,.476,...,0.7,0.3,1.2,1.4,9.1,1991,0.0,0.0,0.0,Los Angeles Lakers
2,A.C. Green,PF,28,LAL,82,53,35.4,4.7,9.8,.476,...,1.1,0.4,1.4,1.7,13.6,1992,0.0,0.0,0.0,Los Angeles Lakers
3,A.C. Green,PF,29,LAL,82,55,34.4,4.6,8.6,.537,...,1.1,0.5,1.4,1.8,12.8,1993,0.0,0.0,0.0,Los Angeles Lakers
4,A.C. Green,PF,30,PHO,82,55,34.5,5.7,11.3,.502,...,0.9,0.5,1.2,1.7,14.7,1994,0.0,0.0,0.0,Phoenix Suns
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14466,Željko Rebrača,C,29,DET,74,4,15.9,2.6,5.1,.505,...,0.4,1.0,1.1,2.6,6.9,2002,0.0,0.0,0.0,Detroit Pistons
14467,Željko Rebrača,C,30,DET,30,12,16.3,2.7,4.8,.552,...,0.2,0.6,1.0,2.6,6.6,2003,0.0,0.0,0.0,Detroit Pistons
14468,Željko Rebrača,C,31,ATL,24,2,11.4,1.4,3.2,.442,...,0.2,0.5,0.7,2.2,3.8,2004,0.0,0.0,0.0,Atlanta Hawks
14469,Željko Rebrača,C,32,LAC,58,2,16.0,2.3,4.0,.568,...,0.2,0.7,0.8,2.2,5.8,2005,0.0,0.0,0.0,Los Angeles Clippers
14470,Željko Rebrača,C,33,LAC,29,2,14.2,1.8,3.3,.542,...,0.2,0.7,0.8,2.0,4.7,2006,0.0,0.0,0.0,Los Angeles Clippers

In [59]:
stat= comb_player.merge(teams,how='outer',on=["Team","Year"])
stat

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,.478,...,0.0,0.0,Los Angeles Lakers,63,19,.768,—,110.7,103.9,6.74
1,Byron Scott,SG,28,LAL,77,77,33.7,6.1,13.1,.470,...,0.0,0.0,Los Angeles Lakers,63,19,.768,—,110.7,103.9,6.74
2,James Worthy,SF,28,LAL,80,80,37.0,8.9,16.2,.548,...,0.0,0.0,Los Angeles Lakers,63,19,.768,—,110.7,103.9,6.74
3,Jawann Oldham,C,32,LAL,6,0,7.5,0.5,1.0,.500,...,0.0,0.0,Los Angeles Lakers,63,19,.768,—,110.7,103.9,6.74
4,Jay Vincent,SF,30,LAL,41,6,11.2,2.1,4.5,.470,...,0.0,0.0,Los Angeles Lakers,63,19,.768,—,110.7,103.9,6.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14466,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,.484,...,0.0,0.0,Milwaukee Bucks,42,40,.512,9.0,103.6,103.8,-0.45
14467,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,.286,...,0.0,0.0,Milwaukee Bucks,42,40,.512,9.0,103.6,103.8,-0.45
14468,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,.470,...,0.0,0.0,Milwaukee Bucks,42,40,.512,9.0,103.6,103.8,-0.45
14469,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,.459,...,0.0,0.0,Milwaukee Bucks,42,40,.512,9.0,103.6,103.8,-0.45
14470,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,.455,...,0.0,0.0,Milwaukee Bucks,42,40,.512,9.0,103.6,103.8,-0.45

In [72]:
stat = stat.apply(pd.to_numeric,errors="ignore")

In [73]:
stat.dtypes

Player      object
Pos         object
Age          int64
Tm          object
G            int64
GS           int64
MP         float64
FG         float64
FGA        float64
FG%        float64
3P         float64
3PA        float64
3P%        float64
2P         float64
2PA        float64
2P%        float64
eFG%       float64
FT         float64
FTA        float64
FT%        float64
ORB        float64
DRB        float64
TRB        float64
AST        float64
STL        float64
BLK        float64
TOV        float64
PF         float64
PTS        float64
Year         int64
Pts Won    float64
Pts Max    float64
Share      float64
Team        object
W            int64
L            int64
W/L%       float64
GB         float64
PS/G       float64
PA/G       float64
SRS        float64
dtype: object

In [69]:
stat['GB'].unique()

array(['—', '5.0', '14.0', '23.0', '7.0', '40.0', '42.0', '18.0', '6.0',
       '24.0', '26.0', '37.0', '29.0', '21.0', '28.0', '25.0', '8.0',
       '19.0', '1.0', '13.0', '17.0', '3.0', '15.0', '9.0', '2.0', '35.0',
       '20.0', '11.0', '16.0', '41.0', '12.0', '50.0', '10.0', '30.0',
       '34.0', '4.0', '1.5', '22.0', '51.0', '36.0', '43.0', '39.0',
       '18.5', '48.0', '46.0', '10.5', '32.0', '38.0', '27.0', '33.0',
       '31.0', '21.5', '45.0', '22.5', '25.5', '3.5', '20.5', '11.5',
       '44.0', '52.0', '56.0', '2.5', '12.5', '47.0', '32.5', '4.5'],
      dtype=object)

In [70]:
stat['GB'].replace("—",0,inplace=True)

In [74]:
stat.to_csv("Overall_stat.csv")

In [76]:
stat.corr()['Share']

Age        0.018429
G          0.089532
GS         0.168042
MP         0.162873
FG         0.276206
FGA        0.248946
FG%        0.067102
3P         0.096353
3PA        0.096655
3P%        0.014703
2P         0.275106
2PA        0.250508
2P%        0.064795
eFG%       0.060929
FT         0.318354
FTA        0.323007
FT%        0.038711
ORB        0.104105
DRB        0.213704
TRB        0.187410
AST        0.200680
STL        0.177614
BLK        0.153658
TOV        0.233996
PF         0.072144
PTS        0.288913
Year      -0.008576
Pts Won    0.994676
Pts Max    0.522358
Share      1.000000
W          0.122766
L         -0.121829
W/L%       0.126447
GB        -0.101700
PS/G       0.045404
PA/G      -0.038958
SRS        0.122421
Name: Share, dtype: float64