In [1]:
import pandas as pd

In [3]:
stats = pd.read_csv("Overall_stat.csv")
stats

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,...,0.0,0.0,Los Angeles Lakers,63,19,0.768,0.0,110.7,103.9,6.74
1,1,Byron Scott,SG,28,LAL,77,77,33.7,6.1,13.1,...,0.0,0.0,Los Angeles Lakers,63,19,0.768,0.0,110.7,103.9,6.74
2,2,James Worthy,SF,28,LAL,80,80,37.0,8.9,16.2,...,0.0,0.0,Los Angeles Lakers,63,19,0.768,0.0,110.7,103.9,6.74
3,3,Jawann Oldham,C,32,LAL,6,0,7.5,0.5,1.0,...,0.0,0.0,Los Angeles Lakers,63,19,0.768,0.0,110.7,103.9,6.74
4,4,Jay Vincent,SF,30,LAL,41,6,11.2,2.1,4.5,...,0.0,0.0,Los Angeles Lakers,63,19,0.768,0.0,110.7,103.9,6.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14466,14466,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14467,14467,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14468,14468,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14469,14469,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14470,14470,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [8]:
del stats["Unnamed: 0"]

In [10]:
pd.isnull(stats).sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          51
3P            0
3PA           0
3P%        2102
2P            0
2PA           0
2P%          85
eFG%         51
FT            0
FTA           0
FT%         468
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [16]:
stats[pd.isnull(stats["3P%"])][["Player","3PA","3P%"]]

                 Player  3PA  3P%
3         Jawann Oldham  0.0  NaN
7         Mark McNamara  0.0  NaN
8           Mel McCants  0.0  NaN
10      Mychal Thompson  0.0  NaN
16       Elden Campbell  0.0  NaN
...                 ...  ...  ...
14440    Evan Eschmeyer  0.0  NaN
14441  Gheorghe MureÈ™an  0.0  NaN
14443     Jim McIlvaine  0.0  NaN
14449  Mark Hendrickson  0.0  NaN
14450      Michael Cage  0.0  NaN

[2102 rows x 3 columns]

In [17]:
stats= stats.fillna(0)

## Only Numeric columns useful for predictions!

In [19]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [20]:
stats.dtypes

Player      object
Pos         object
Age          int64
Tm          object
G            int64
GS           int64
MP         float64
FG         float64
FGA        float64
FG%        float64
3P         float64
3PA        float64
3P%        float64
2P         float64
2PA        float64
2P%        float64
eFG%       float64
FT         float64
FTA        float64
FT%        float64
ORB        float64
DRB        float64
TRB        float64
AST        float64
STL        float64
BLK        float64
TOV        float64
PF         float64
PTS        float64
Year         int64
Pts Won    float64
Pts Max    float64
Share      float64
Team        object
W            int64
L            int64
W/L%       float64
GB         float64
PS/G       float64
PA/G       float64
SRS        float64
dtype: object

In [21]:
feats = ['Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS']

In [ ]:
from sklearn.linear_model import Ridge

reg= Ridge(alpha=0.1)