In [1]:
import pandas as pd

In [2]:
stats = pd.read_csv("Overall_stat.csv")
stats

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.C. Green,PF,26,LAL,82,82,33.0,4.7,9.8,...,0.0,0.0,Los Angeles Lakers,63,19,0.768,0.0,110.7,103.9,6.74
1,1,Byron Scott,SG,28,LAL,77,77,33.7,6.1,13.1,...,0.0,0.0,Los Angeles Lakers,63,19,0.768,0.0,110.7,103.9,6.74
2,2,James Worthy,SF,28,LAL,80,80,37.0,8.9,16.2,...,0.0,0.0,Los Angeles Lakers,63,19,0.768,0.0,110.7,103.9,6.74
3,3,Jawann Oldham,C,32,LAL,6,0,7.5,0.5,1.0,...,0.0,0.0,Los Angeles Lakers,63,19,0.768,0.0,110.7,103.9,6.74
4,4,Jay Vincent,SF,30,LAL,41,6,11.2,2.1,4.5,...,0.0,0.0,Los Angeles Lakers,63,19,0.768,0.0,110.7,103.9,6.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14466,14466,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14467,14467,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14468,14468,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14469,14469,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14470,14470,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [3]:
del stats["Unnamed: 0"]

In [4]:
pd.isnull(stats).sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          51
3P            0
3PA           0
3P%        2102
2P            0
2PA           0
2P%          85
eFG%         51
FT            0
FTA           0
FT%         468
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [5]:
stats[pd.isnull(stats["3P%"])][["Player","3PA","3P%"]]

                 Player  3PA  3P%
3         Jawann Oldham  0.0  NaN
7         Mark McNamara  0.0  NaN
8           Mel McCants  0.0  NaN
10      Mychal Thompson  0.0  NaN
16       Elden Campbell  0.0  NaN
...                 ...  ...  ...
14440    Evan Eschmeyer  0.0  NaN
14441  Gheorghe Mureșan  0.0  NaN
14443     Jim McIlvaine  0.0  NaN
14449  Mark Hendrickson  0.0  NaN
14450      Michael Cage  0.0  NaN

[2102 rows x 3 columns]

In [6]:
stats= stats.fillna(0)

## Only Numeric columns useful for predictions!

In [7]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [8]:
stats.dtypes

Player      object
Pos         object
Age          int64
Tm          object
G            int64
GS           int64
MP         float64
FG         float64
FGA        float64
FG%        float64
3P         float64
3PA        float64
3P%        float64
2P         float64
2PA        float64
2P%        float64
eFG%       float64
FT         float64
FTA        float64
FT%        float64
ORB        float64
DRB        float64
TRB        float64
AST        float64
STL        float64
BLK        float64
TOV        float64
PF         float64
PTS        float64
Year         int64
Pts Won    float64
Pts Max    float64
Share      float64
Team        object
W            int64
L            int64
W/L%       float64
GB         float64
PS/G       float64
PA/G       float64
SRS        float64
dtype: object

In [9]:
feats = ['Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS']

In [10]:
from sklearn.linear_model import Ridge

reg= Ridge(alpha=0.1)

#### Prediction of 2021 based on previous data and comparison to find error metrics

In [11]:
train = stats[stats["Year"] < 2021]
test = stats[stats["Year"] == 2021]

In [12]:
reg.fit(train[feats], train["Share"])

Ridge(alpha=0.1)

In [13]:
pre = reg.predict(test[feats])

In [14]:
predf = pd.DataFrame(pre,columns= ["Prediction"], index = test.index )
predf

       Prediction
644      0.013796
645     -0.014211
646      0.002004
647     -0.003623
648      0.010823
...           ...
14265   -0.012648
14266   -0.011221
14267    0.016118
14268   -0.020248
14269   -0.005618

[540 rows x 1 columns]

In [15]:
comb_pre = pd.concat([test[["Player","Share"]],predf], axis =1)

In [16]:
comb_pre

                       Player  Share  Prediction
644              Aaron Gordon    0.0    0.013796
645             Austin Rivers    0.0   -0.014211
646                   Bol Bol    0.0    0.002004
647          Facundo Campazzo    0.0   -0.003623
648          Greg Whittington    0.0    0.010823
...                       ...    ...         ...
14265             Patty Mills    0.0   -0.012648
14266  Quinndary Weatherspoon    0.0   -0.011221
14267                Rudy Gay    0.0    0.016118
14268               Tre Jones    0.0   -0.020248
14269              Trey Lyles    0.0   -0.005618

[540 rows x 3 columns]

In [17]:
comb_pre["Share"].value_counts()

0.000    525
0.001      3
0.961      1
0.138      1
0.010      1
0.020      1
0.449      1
0.005      1
0.038      1
0.003      1
0.580      1
0.345      1
0.042      1
0.008      1
Name: Share, dtype: int64

In [18]:
comb_pre = comb_pre.sort_values("Share",ascending = False)
comb_pre["Rank"] = list(range(1,comb_pre.shape[0]+1))

In [19]:
comb_pre.head(10)

                      Player  Share  Prediction  Rank
655             Nikola Jokić  0.961    0.155943     1
8791             Joel Embiid  0.580    0.164426     2
3707           Stephen Curry  0.449    0.144413     3
10102  Giannis Antetokounmpo  0.345    0.208457     4
1403              Chris Paul  0.138    0.072282     5
11288            Luka Dončić  0.042    0.152461     6
7613          Damian Lillard  0.038    0.117934     7
3592           Julius Randle  0.020    0.089069     8
3587            Derrick Rose  0.010    0.032243     9
11649            Rudy Gobert  0.008    0.095466    10

In [20]:
from sklearn.metrics import mean_squared_error as mse
mse(comb_pre["Share"], comb_pre["Prediction"])

0.0026654847378389693

In [21]:
comb_pre = comb_pre.sort_values("Prediction" ,ascending = False)
comb_pre["Predicted Rank"] = list(range(1,comb_pre.shape[0]+1))

In [22]:
comb_pre.head(10)

                      Player  Share  Prediction  Rank  Predicted Rank
10102  Giannis Antetokounmpo  0.345    0.208457     4               1
8791             Joel Embiid  0.580    0.164426     2               2
655             Nikola Jokić  0.961    0.155943     1               3
11288            Luka Dončić  0.042    0.152461     6               4
3792            LeBron James  0.001    0.148018    15               5
3707           Stephen Curry  0.449    0.144413     3               6
4260            James Harden  0.001    0.142142    13               7
4263            Kevin Durant  0.000    0.141051   531               8
12088        Zion Williamson  0.000    0.128657   251               9
3946       Russell Westbrook  0.005    0.119764    11              10

In [23]:
def gap(comb):
    actual = comb.sort_values("Share",ascending = False).head()
    predicts = comb.sort_values("Prediction",ascending = False)
    error = []
    success = 0 
    search = 1
    for index, row in predicts.iterrows():
        if row["Player"] in actual["Player"].values:
            success+=1
            error.append(success/search)
        search+=1
    return sum(error)/len(error)

In [24]:
gap(comb_pre)

0.7636363636363636

#### Prediction of each year based on previous years

In [25]:
years = list(range(1991,2022))

#### Function for each year predictions

In [26]:
x= []
all_predicts = []
for y in years[5:]:
    train = stats[stats["Year"] < y]
    test = stats[stats["Year"] == y]
    reg.fit(train[feats],train["Share"])
    pre = reg.predict(test[feats])
    predf = pd.DataFrame(pre,columns= ["Prediction"], index = test.index)
    comb_pre = pd.concat([test[["Player","Share"]],predf], axis =1)
    all_predicts.append(comb_pre)
    x.append(gap(comb_pre))

In [27]:
sum(x)/len(x)

0.7185152807812892

#### Function for difference in each year Predicted VS Actual ranks

In [28]:
def dif(comb_pre):
    comb_pre = comb_pre.sort_values("Share",ascending = False)
    comb_pre["Rank"] = list(range(1,comb_pre.shape[0]+1))
    comb_pre = comb_pre.sort_values("Prediction" ,ascending = False)
    comb_pre["Predicted Rank"] = list(range(1,comb_pre.shape[0]+1))
    comb_pre["Diff"] = comb_pre["Rank"] - comb_pre["Predicted Rank"]
    return comb_pre

In [29]:
dif_rank = dif(all_predicts[1])
dif_rank[dif_rank["Rank"]<=5 ].sort_values(("Diff"), ascending = False)

               Player  Share  Prediction  Rank  Predicted Rank  Diff
1614      Karl Malone  0.857    0.189111     1               1     0
10775  Michael Jordan  0.832    0.161260     2               3    -1
922        Grant Hill  0.327    0.126463     3               6    -3
4768     Tim Hardaway  0.207    0.063013     4              18   -14
8415        Glen Rice  0.117    0.031333     5              56   -51

#### Function to get previous year predictions from any point

In [30]:
def backpredicts(stats,model,year,predicts):
    x= []
    all_predicts = []
    for y in years[5:]:
        train = stats[stats["Year"] < y]
        test = stats[stats["Year"] == y]
        model.fit(train[feats],train["Share"])
        pre = model.predict(test[feats])
        predf = pd.DataFrame(pre,columns= ["Prediction"], index = test.index)
        comb_pre = pd.concat([test[["Player","Share"]],predf], axis =1)
        comb_pre = dif(comb_pre)
        all_predicts.append(comb_pre)
        x.append(gap(comb_pre))
    return sum(x)/len(x), x, pd.concat(all_predicts)

In [31]:
mean_precision, std_prcision, all_predictions = backpredicts(stats, reg, years[5:], feats)